.pmpopover.popover-left
	h3
		=_('New message')
		span.close ×
	if items.length > 0
			ul.po-scroll-wrap
				each user in items
					li.item.user(data-id=user.id, key=user.id)
						if user.joined
							button.toggle.leave=_('x')
						else
							button.toggle.join=_('Message')
						.avatar-wrap
							if true == true
								span.online
							else
								span.offline
							img(src="#{user.avatar}",width="20",alt="")
							.avatar-status(class=(user.status === 16 ? 'online' : 'offline'))
						span.name=user.username
	else
		p
			p.empty-message=_('There are no members in your organization yet.')
			a(href='/accounts/organization/settings/members/', target='_self').button.manage-users
				=_('Manage Members')
				i.fa.fa-user