.roommemberspopover
	h4=_('Members in ') + room.name
	span.close ×
	ul.user-list
		each user in room.users
			li
				a(href="/chat/@" + user.username.toLowerCase())
					aside.avatar-wrap
						img.image(src="#{user.avatar}",width="20",alt="#{user.username}")
					if (user.firstName || user.lastName)
						author.author #{user.firstName} #{user.lastName} 
							em #{user.username}
					else
						author.author= user.username