.roommemberspopover
	h3=_('Members in ') + room.name
	span.close ×
	div.po-scroll-wrap
		ul.user-list
			each user in room.users
				li.item.user
					a(href="/chat/@" + user.username.toLowerCase())
						aside.avatar-wrap
							img.image(src="#{user.avatar}",width="20",alt="#{user.username}")
							.avatar-status(class=(user.status === 16 ? 'online' : 'offline'))
						if (user.firstName || user.lastName)
							span.user-name #{user.firstName} #{user.lastName} 
						else
							span.user-name= user.username
	h4.mar-t20=_('Invite more members')
	a.invite
	a.button.button-delete.delete-room=_('delete room')