.roommemberspopover
	h4=_('Members in ') + room.name
	span.close ×
	ul
		each user in room.users
			li.item.user
				.avatar-wrap
					if user.status === 16
						span.online
					else
						span.offline
					img(src="#{user.avatar}", width="20", alt="#{user.username}")
				span.name= user.username
				if user.firstName
					span.name= user.firstName
				if user.lastName
					span.name= user.lastName
