ul.po-scroll-wrap
	li.list-hl
		h4=_("Rooms you haven't joined")
	each room in items
			li.item.room(data-id=room.id, key=room.id)
				if room.joined
					button.toggle.join
						span.info
							=_('join')
						| 
						i.fa.fa-arrow-circle-o-right
				else
					button.toggle.leave
						span.info.j-info
							=_('joined')
						span.info.l-info
							=_('leave')
						| 
						i.fa.fa-times-circle-o
						i.fa.fa-check-circle-o
				.icon-wrap
					if room.private
						i.icon.fa.fa-lock
					else
						i.icon.fa.fa-comments
				.main
					.name=room.name
					ul.room-info
						li.creator
							=_('by ')
							each user in org.users
								if (room.creator === user.id)
									=user.username
						li.users
							i.fa.fa-user
							|  #{room.users.length}
