.room-header-wrap
	.room-header-color-shade(style="background: rgba(#{color.r}, #{color.g}, #{color.b}, 0.05); border-bottom-color: rgba(#{color.r}, #{color.g}, #{color.b}, 0.1)")
	.room-info-wrap
		if room.type === 'room'
			if editOptions.renamingRoom
				form.room-rename
					input.room-name.editable(value=room.name, type="text")
					input.submit-rename(type="submit")
				.rename-options-wrap
					a.header-option.option-rename-cancel(title="Cancel", style="color: rgba(#{color.r}, #{color.g}, #{color.b}, 1)")
						i.fa.fa-times
					a.header-option.option-rename-ok(title="Save", style="color: rgba(#{color.r}, #{color.g}, #{color.b}, 1)")
						i.fa.fa-check
			else
				.room-name(class=editOptions.canRenameRoom ? 'editable' : '', style="color: rgba(#{color.r}, #{color.g}, #{color.b}, 1.0)")
					if mode === 'search'
						i.fa.fa-link
						=_(" in ")
					| #{room.name}
					if room.topic
						br
						span.room-topic=room.topic
					if editOptions.canRenameRoom
						a.header-option.option-rename-room(title="Rename Room")
							i.fa.fa-pencil(style="color: rgba(#{color.r}, #{color.g}, #{color.b}, 1)")
				.options-wrap
					if editOptions.canRenameRoom
						a.header-option.option-delete-room(title="Delete Room")
							i.fa.fa-trash(style="color: rgba(#{color.r}, #{color.g}, #{color.b}, 1)")
		else if room.type === 'pm'
			h1.room-name
				if room.users[0].is_only_invited
					i.fa.fa-envelope
					| 
				| #{room.users[0].displayName}
		
	form.search-form
		input.search(type="search", name="search-input", placeholder=_("Search for messages, files, etc."))
		input.search-submit(type="submit")
		i.fa.fa-search.search-icon(style="color: rgba(#{color.r}, #{color.g}, #{color.b}, 1)")
		i.fa.fa-times.close(onclick="this.parentNode.parentNode.parentNode.parentNode.parentNode.className='client';", style="color: rgba(#{color.r}, #{color.g}, #{color.b}, 1)")

	#tagsToggle.room-header-button(style="display: none")
		i.mdi.mdi-tag-multiple
	#menuToggle.room-header-button(style=room.type == "room" ? "display: block" : "display: none")
		i.mdi.mdi-menu

	.user-menu-wrap.hide(id='intro-step5', title="My Settings")
		.avatar-wrap
			span.online
			img(src="#{user.avatar}",width="28",alt="Avatar of #{user.username}")
				.avatar-status(class='online')
		i.fa.fa-chevron-down