div.navigation.nav-outer
	nav.navigation.nav-inner
		.org-info
			a.quick-search-trigger
				i.fa.fa-search
			a.logo(title="Your Organization")
				.avatar-wrap
					img(src='#{org.logo}',height='28',width='28',alt='#{org.name}')
				span.name=org.name
				i.fa.fa-chevron-down
		.preloader.hide
			div
				h3
					=_('Loading')
		.nav-wrap-out
			div(id='intro-step2', class='room-list', data-step='2', data-topic='room list')
				a.nav-title-wrap.manage-rooms
					h2.nav-title
						=_('All rooms ')
						i.fa.fa-angle-right
				div.nav-button.create-room=_('+')
				ul.nav-list.rooms
			div(id="intro-step3", class='pm-list', data-step='3', data-topic='private messages')
				.nav-title-wrap.addpm
					h2.nav-title=_('Private messages')
				ul.nav-list.pms
			input.filter-pms.hide(type="filter", name="filter-input", placeholder=_("Search users"))
