div.navigation.nav-outer
	nav.navigation.nav-inner
		.org-info
			.org-topbar
				i.mdi.mdi-settings.settings-icon
				i.mdi.mdi-keyboard-caps.toggle-sidebar-icon.minimize-sidebar
			.org-logo-name
				img(src='#{org.logo}',height='32',width='32',alt='#{org.name}')
				span.org-name=org.name
				span.org-tagline=_('Valentin Scholz')
		.preloader.hide
			div
				h3
					=_('Loading')
		.nav-wrap-out
			div(id='intro-step2', class='room-list', data-step='2', data-topic='room list')
				a.manage-rooms-button.nav-title-wrap.manage-rooms
					h2.nav-title
						span.nav-title-prefix=_('Manage ')
						=_('Rooms')
						i.mdi.mdi-chevron-right
				ul.nav-list.rooms
			div(id="intro-step3", class='pm-list', data-step='3', data-topic='private messages')
				.nav-title-wrap.addpm
					h2.nav-title
						span.nav-title-prefix=_('Manage ')
						=_('People')
						i.mdi.mdi-chevron-right
				ul.nav-list.pms
