ul.user-list
	each item in items
		li.item.user
			if item != user
				a(class="right-sidebar-item", href='/chat/@' + item.username.toLowerCase())
					aside.avatar-wrap
						img.image(src="#{item.avatar}",width="20",height="20",alt="#{item.username}")
						.avatar-status(class=(item.status === 16 || item.id == user.id ? 'online' : 'offline'))
					span #{item.displayName}
				if canKickMembers
					i.mdi.mdi-close-circle-outline.btn-delete(data-id=item.id)
				span(style="clear: both")
			else
				.right-sidebar-item
					aside.avatar-wrap
						img.image(src="#{item.avatar}",width="20",height="20",alt="#{item.username}")
						.avatar-status(class=(item.status === 16 || item.id == user.id ? 'online' : 'offline'))
					span.inactive= item.displayName
				span(style="clear: both")
