.right-sidebar-room-wrap
    .user-profile-view
        .avatar-wrap
            if user.status === 16
                span.online
            else
                span.offline
                img(src="#{user.avatar}", alt="#{user.username}", width="80", height="80")
                .avatar-status(class=(user.status === 16 ? 'online' : 'offline'))
        if (user.firstName && user.lastName)
            .fullname
                span= user.firstName + " " + user.lastName
        .username
          span #{user.username}
        if (user.what_i_do)
            .bio
                span.label= _('bio: ')
                span #{user.what_i_do}
        if (user.email)
            .email
                span.label= _('skype username: ')
                span
                  i.fa.fa-skype
                  | #{user.skype_username}
        if (user.skype_username)
            .skype
                span.label= _('skype username: ')
                span #{user.skype_username}
        if (user.phone_number)
            .phone
                span.label= _('phone number: ')
                span #{user.phone_number}
