.top-bar.markdown-tips
	.title
		span=_('Markdown tips')
.container.markdown-tips
	p=_("How to improve your chat messages with some nifty styles")

	.header
		=_("Inline styles")
	.table
		.cell
			.cell-title
				=_("Example")
			pre
				code=_("You can write in *italic*, **bold** and in ~~strike trough~~")
		.cell
			.cell-title
				=_("Result")
			p
				=_("You can write in ")
				em=_("italic")
				| , 
				strong=_("bold ")
				=_("and in ")
				s=_("strike trough")
	.header
		=_("Lists")
	.table
		.cell
			.cell-title
				=_("Example")
			pre
				code
					=_("- unordered list element")
					br
					=_("- another one")
					br
					br
					=_("1. An ordered list")
					br
					=_("1. A second one")
		.cell
			.cell-title
				=_("Result")
			ul
				li=_("This is an unordered list element")
				li=_("This is another one")
			br
			ol
				li=_("An ordered list")
				li=_("A second one")
	.header
		=_("Links")
	.table
		.cell
			.cell-title
				=_("Example")
			pre
				code
					=_("[A link to ChatGrape](https://chatgrape.com)")
		.cell
			.cell-title
				=_("Result")
			p
				a(href="https://chatgrape.com")=_("A link to ChatGrape")
	.header
		=_("Images")
	.table
		.cell
			.cell-title
				=_("Example")
			pre
				code
					=_("![description](https://ug-cdn.com/static/chatgrape/static/images/logo.svg)")
	.table(style="margin-top: 6px")
		.cell
			.cell-title
				=_("Result")
			p
				img(alt="description", src="https://ug-cdn.com/static/chatgrape/static/images/logo.svg")
	.header
		=_("Code Snippets")
	.table
		.cell
			.cell-title
				=_("Example")
			pre
				code
					=_("This is `Inline` Code")
					br
					br
					| ```
					br
					| <p>
					br
					=_("    This is a Code Block")
					br
					| </p>
					br
					| ```
		.cell
			.cell-title
				=_("Result")
			p
				=_("This is ")
				code(style="display:inline")=_("Inline")
				=_(" Code")
				br
				br
				pre
					code(style='white-space: pre-wrap; white-space: -moz-pre-wrap;white-space: -o-pre-wrap; word-wrap: break-word;')
						| <p>
						br
						=_("    This is a Code Block")
						br
						| </p>
	.header
		=_("Blockquote")
	.table(style="padding-bottom: 16px")
		.cell
			.cell-title
				=_("Example")
			pre
				code
					=_("> One of the coolest products I've used in a while")
		.cell
			.cell-title
				=_("Result")
			p
				blockquote
					=_("One of the coolest products I've used in a while")
