ul.room-list(class=mode == 'creation' ? 'hidden' : '')
	each room in items
		if mode == 'unjoined' && !room.joined
			li.item.room(data-id=room.id, key=room.id)
				a(href="/chat/" + room.slug)
					button.toggle.join
						=_('Join')
					.room-face(style='background-color:#{room.color}')
						=room.abbr
						if !room.is_public
							i.room-icon.fa.fa-lock
					.main
						.room-name=room.name
						ul.room-info
							li.users
								i.mdi.mdi-account-multiple
								|  #{room.users.length}
							if room.creator
								li.creator(title="Creator of this room")
									i.mdi.mdi-account-box
									span.user-name= room.creator.displayName
		if mode == 'joined' && room.joined
			li.item.room.leave(data-id=room.id, key=room.id)
				a
					button.toggle.leave
						=_('Leave')
					.room-face(style="background-color:#{room.color}")
						=room.abbr
						if !room.is_public
							i.room-icon.fa.fa-lock
					.main
						.room-name=room.name
						ul.room-info
							li.users
								i.mdi.mdi-account-multiple
								|  #{room.users.length}
							if room.creator
								li.creator
									i.mdi.mdi-account-box
									span.user-name= room.creator.displayName
