ul.popover-list
	li.inner-popover
	each user in items
		if tabSelection === 'active' && user.active && !user.is_only_invited
			li.item.pm
				a(href="/chat/@" + user.username.toLowerCase())
					aside.avatar-wrap
						img(src="#{user.avatar}",width="28",alt="#{user.username}")
						.avatar-status(class=(user.status === 16 ? 'online' : 'offline'))
					span.user-name=user.displayName
		if tabSelection === 'invited' && user.is_only_invited && user.active
			li.item.pm
				a(href="/chat/@" + user.username.toLowerCase())
					aside.avatar-wrap
						img(src="#{user.avatar}",width="28",alt="#{user.username}")
						.avatar-status(class=(user.status === 16 ? 'online' : 'offline'))
					span.user-name=user.displayName
		if tabSelection === 'deleted' && !user.active
			li.item.pm.deleted
				a(href="/chat/@" + user.username.toLowerCase())
					aside.avatar-wrap
						img(src="#{user.avatar}",width="28",alt="#{user.username}")
						.avatar-status(class=(user.status === 16 ? 'online' : 'offline'))
					span.user-name=user.displayName
					span.user-deleted= _('Deleted user')
