.roommemberspopover
	.inner-popover
		h3=_('Members in ') + room.name
	div.po-scroll-wrap
		ul.user-list.popover-list
			each member in room.users
				li.item.user
					if member != user
						a(href='/chat/@' + member.username.toLowerCase())
							aside.avatar-wrap
								img.image(src="#{member.avatar}",width="24",alt="#{member.username}")
								.avatar-status(class=(member.status === 16 || member.id == user.id ? 'online' : 'offline'))
							span.user-name= member.displayName
						if canKickMembers && member != room.creator
							span.fa.fa-times.btn-delete(data-id=member.id)
					else
						.func-inner-wrap
							aside.avatar-wrap
								img.image(src="#{member.avatar}",width="24",alt="#{member.username}")
								.avatar-status(class=(member.status === 16 || member.id == user.id ? 'online' : 'offline'))
							span.user-name= member.displayName
	.inner-popover
		h4.mar-t20=_('Invite more members')
		a.invite