ul.popover-list
	li.inner-popover
	if (tabSelection == 'unjoined')
		each room in items
			if !room.joined
				li.item.room(data-id=room.id, key=room.id)
					a(href="/chat/" + room.slug)
						button.btn.toggle.join.btn-gainsboro
							=_('join')
						.room-face
							=room.name.slice(0,2)
							if !room.is_public
								i.room-icon.fa.fa-lock
						.main
							.name=room.name
							ul.room-info
								li.users
									i.fa.fa-user
									|  #{room.users.length}
								if room.creator
									li.creator
										=_('by ')
										span.user-name= room.creator.displayName
	else	
		each room in items
			if room.joined
				li.item.room.leave(data-id=room.id, key=room.id)
					a
						button.btn.toggle.btn-tomato
							=_('leave')
						.room-face(style="width: 42px;height: 42px;line-height: 42px;font-size: 16px;")
							=room.name.slice(0,2)
							if !room.is_public
								i.room-icon.fa.fa-lock
						.main
							.name=room.name
							ul.room-info
								li.users
									i.fa.fa-user
									|  #{room.users.length}
								if room.creator
									li.creator
										=_('created by ')
										span.user-name= room.creator.displayName