.history
	if room.id == undefined
		.preloader
			div
				h3
					=_('Welcome to ChatGrape!')
				- var preloader = staticurl("/images/preloader-ongray.gif")
				img.image(src="#{preloader}",width="40",alt="Loading")
				p
					=_("Give us a second while we're preparing everything for you!")
	else
		if room.type !== 'pm'
			.message-group.welcome-message
				h3
					| Welcome to 
					span #{room.name}
				p
					=_('This room is public. Every member can join and read the history.')
				ul.welcome-tasks
					li.option
						p.task-description
							i.fa.fa-user
							=_('Get the conversation started')
						//- p=_('There are no members in this room yet. Invite some to get the conversation started.')
						a.show-invite.disable-document-click-handler
							i.fa.fa-plus
							=_('Invite members')
						span.invite
					li.option
						p.task-description
							i.fa.fa-user
							=_('Integrate your external services')
						//- p=_('There are no service integrations yet. ')
						a(href='/services/list/', target='_self')
							i.fa.fa-plus
							=_('Add service integrations')
		else
			.message-group.welcome-message
				h3
					i.fa.fa-lock
					|  Private messages with 
					span #{room.users[0].username}
				p
					| This is a private conversation between you and #{room.users[0].username}. Private conversations are only accessible to the two of you.
					br
					| So speak freely.
				if room.users[0].is_only_invited
					p
						=_("This user was only invited and didn't join ChatGrape yet. You can send chat messages and as soon as the user joins ChatGrape, he will reiceive your messages.")

	- var lastDate
	- var lastRead = true
	each lines in groupHistory(history)
		- var first = lines[0]
		if (!lastDate || lastDate.getDate() !== first.time.getDate() || lastDate.getTime() <= first.time.getTime() - 24 * 3600 * 1000)
			.date-separator= strftime('%A, %d.%m.%Y', first.time)
		if (lastRead && !first.read)
			.newmessage-separator: span= _('new messages')
		- var lastDate = first.time
		- var lastRead = first.read
		.message-group(key=first.id, data-id=lines[lines.length - 1].id, class=first.author.id !== user.id ? "" : "creator")
			a(href="/chat/@" + first.author.username.toLowerCase()).avatar
				if first.author.type==='service'
					- var icon = staticurl("/images/service-icons/" + first.author.id + "-32.png")
					- var alttext = first.author.id
					img.image(src="#{icon}",width="20",alt="#{alttext}")
				else
					img.image(src="#{first.author.avatar}",width="20",alt="#{first.author.username}")
			.message-content
				time.time(datetime=first.time.toISOString())= strftime('%H:%M Uhr', first.time)
				a(href="/chat/@" + first.author.username.toLowerCase()).author
					if (first.author.firstName || first.author.lastName)
						author.author #{first.author.firstName} #{first.author.lastName} 
							em #{first.author.username}
					else
						author.author= first.author.username
				each line in lines
					div.message(data-id=line.id, class=(line.author.type==='service' ? 'activity ' + line.author.id : 'simpletext'))
						.labels(style='display: none;')
							a
								.label
									=_('#Label')
						time.time(datetime=line.time.toISOString())= strftime('%H:%M Uhr', line.time)
						i.fa.fa-tag.btn-label
						if line.actor && line.actor.image && line.actor.image.url
							a(href=line.actor.url, class="actor avatar-wrap")
								img(src=line.actor.image.url, width=16, height=16, alt=line.actor.name)
						if line.title
							.text= html(markdown(line.title))
						if line.text
							.text
								=html(markdown(line.text))
								//- uncomment this to test inline-labels
								//-a
								//-	span.label #entscheidungen
								//-		i.fa.fa-check-circle
						if line.container
							a.container(href=line.container.url, class=line.container.type)= line.container.name
							if line.branch
								span.branch= line.branch
						if line.content
							.message-content= line.content
						if line.container
							a.container(href=line.container.url, class=line.container.type)= " in " + line.container.name
						if line.attachments
							//- process attachments/uploads
							each attachment in line.attachments
								if attachment.type.indexOf("image") == 0
									//- attachment is an image
									img.image.zoom-image(src=attachment.thumbnail_url, data-zoom-url=attachment.url, data-zoom-overlay="true", width=attachment.thumbnail_width, height=attachment.thumbnail_height, alt=attachment.name)
								else
									//- any other file
									a(href=attachment.url)= attachment.name
						if line.objects
							ul
								each obj in line.objects
									li(class=obj.type)
										if obj.sha
											a(href=obj.url)= obj.sha
										if obj.name
											a(href=obj.url)= obj.name
										if obj.content
											span
											if line.author.id == 'github'
												.content= html(markdown(obj.content))
											else
												.content= obj.content
										if obj.summary
											.summary= obj.summary
										if obj.author && obj.author.username
											span.author= obj.author.username
						//- show the edit stuff only if current user is the author
						if user.id == line.author.id
							div.edit
								//- only show the edit button when there is no image attached
								if line.attachments.length == 0
									i.fa.fa-pencil.btn-edit
								i.fa.fa-times.btn-delete