div
	.user-menu-wrap(id='intro-step5')
		.avatar-wrap
			span.online
			img(src="#{user.avatar}",width="36",alt="Avatar of #{user.username}")
				.avatar-status(class='online')
		span.user-name
			if (user.firstName || user.lastName)
				| #{user.firstName} #{user.lastName} 
			else
				| #{user.username}
		i.fa.fa-caret-down
	form.search-form
		input.search(type="search", name="search-input", placeholder=_("Search"))
		input.search-submit(type="submit")
		i.fa.fa-search.search-icon
		i.fa.fa-times.close(onclick="this.parentNode.parentNode.parentNode.parentNode.parentNode.className='client';")
	.room-info-wrap(id="intro-step4")
		if room.type === 'room'
			h1.room-name= room.name
			.room-menu-wrap
				span.user-count
					i.fa.fa-user
					|  #{room.users.length}
				ul.horizontal-user-list
					- var limitUsersTo = 5
					- var count = 0
					each member in room.users
							li
								span.avatar-wrap
									img.image(src="#{member.avatar}",width="20",alt="#{member.username}")
									.avatar-status(class=(member.status === 16 || user.id == member.id ? 'online' : 'offline'))
				//-script.
				//-	var tip = new Tooltip("content");
				//-	tip.position(100,100);
				//-	tip.show;
				if room.users.length > limitUsersTo
					- var remainingUsers = room.users.length - limitUsersTo
					span.remaining-users
						| + 
						i.fa.fa-user
						|  #{remainingUsers}
		else if room.type === 'pm'
			h1.room-name
				if room.users[0].is_only_invited
					i.fa.fa-envelope
					| 
				if (room.users[0].firstName || room.users[0].lastName)
					| #{room.users[0].firstName} #{room.users[0].lastName} 
				else
					| #{room.users[0].username}
