div
	.user-menu-wrap(id='intro-step5')
		.avatar-wrap
			span.online
			img(src="#{user.avatar}",width="36",alt="Avatar of #{user.username}")
				.avatar-status(class='online')
		span.user-name
			if (user.firstName || user.lastName)
				| #{user.firstName} #{user.lastName} 
			else
				| #{user.username}
		i.fa.fa-caret-down
	form.search-form
		input.search(type="search", name="search-input", placeholder=_("Search"))
		input.search-submit(type="submit")
		i.fa.fa-search.search-icon
		i.fa.fa-times.close(onclick="this.parentNode.parentNode.parentNode.parentNode.parentNode.className='client';")
	.room-info-wrap(id="intro-step4")
		if room.type === 'room'
			.room-name(disabled, contenteditable="true")= room.name
			.rename-options-wrap
				a.option-rename-cancel
					i.fa.fa-times
				a.option-rename-ok
					i.fa.fa-pencil
			.options-wrap
				if ((room.creator && user.id === room.creator.id) || user.role > 0)
					a.option-rename-room
						i.fa.fa-pencil
					a.option-delete-room
						i.fa.fa-trash
				a.option-add-users
					i.fa.fa-user-plus
			.room-users-wrap
				span.user-count
					i.fa.fa-user
					|  #{room.users.length}
				ul.horizontal-user-list
					- var count = 0
					each member in room.users
						if count < limitUsersTo
							li
								span.avatar-wrap
									img.image(src="#{member.avatar}",width="20",alt="#{member.username}")
									.avatar-status(class=(member.status === 16 || user.id == member.id ? 'online' : 'offline'))
							- count++
				//-script.
				//-	var tip = new Tooltip("content");
				//-	tip.position(100,100);
				//-	tip.show;
				if hiddenUsersCount
					span.remaining-users
						| + #{hiddenUsersCount}			
		else if room.type === 'pm'
			h1.room-name
				if room.users[0].is_only_invited
					i.fa.fa-envelope
					| 
				if (room.users[0].firstName || room.users[0].lastName)
					| #{room.users[0].firstName} #{room.users[0].lastName} 
				else
					| #{room.users[0].username}
