.history
	each lines in groupHistory(history)
		- var first = lines[0]
		.chatline(key=first.id)
			if first.author.username
				aside.author
					img.image(src="http://cdn3.photos.erdbeerlounge.de/images/avatars/user/a/m/o/amour/AICS/fs/46/46/ffffff/amour.jpg")
					div= first.author.username
			else
				aside.author
					img.image(src=first.author.image)
					div= first.author.name
			.content
				each line in lines
					time.time(datetime=line.time.toISOString())= strftime('%H:%M Uhr', line.time)
					if line.actor && line.actor.image && line.actor.image.url
						a(href=line.actor.url, class="actor")
							img(src=line.actor.image.url, width=16, height=16, alt=line.actor.name)
					| 
					if line.container
						a.container(href=line.container.url, class=line.container.type)= line.container.name 
					| 
					if line.title
						.text= line.title
					| 
					if line.text
						.text= html(marked(line.text))
					| 
					if line.container
						a.container(href=line.container.url, class=line.container.type)= line.container.name 
						if line.branch
							span.branch= line.branch
					| 
					if line.content
						.content= line.content
					| 
					if line.objects
						ul
							each obj in line.objects
								li(class=obj.type)
									if obj.sha
										a(href=obj.url)= obj.sha 
									| 
									if obj.name
										a(href=obj.url)= obj.name 
									| 
									if obj.content
										.content= obj.content
									| 
									if obj.summary
										.summary= obj.summary
									| 
									if obj.author && obj.author.username
										span.author= obj.author.username
