.c(data-id=id)
	aside.user(class="colors-" + user.num)
		img.image(src="http://cdn3.photos.erdbeerlounge.de/images/avatars/user/a/m/o/amour/AICS/fs/46/46/ffffff/amour.jpg")
		div= user.username
	.c-con
		time.time(datetime=time.toISOString())= strftime('%H:%M Uhr', time)
		.text= text

	if readers.length
		.readers
			for reader, index in readers
				span.reader(class="colors-" + reader.num)=reader.username
				if readers.length > 2 && index < readers.length - 2
					span , 
				else if readers.length > 1 && index === readers.length - 2
					span  and 
			if readers.length > 1
				span  have 
			else
				span  has 
			span read this message
