.input-wrapper
	.edit-message
		=_('Hit ')
		span=_('ESC')
		=_(' to cancel editing.')
	.hint-box
		=_('Mention your team with ')
		span=_('@')
		=_(' and autocomplete services with ')
		span=_('#')
	img.image(src="#{user.avatar}",width="36",alt="#{user.username}")
	.input-highlighter
		grape-input(id='intro-step1')
		.input-hr
		.info-markdown.js-markdown-tips
			i.fa.fa-question-circle
		.uploader
