.chat-header
	.avatar-wrap
		if true
			span.online
		else
			span.offline
		img(src="#{user.avatar}",width="36",alt="Avatar of #{user.username}")
			.avatar-status(class='online')
		i.fa.fa-chevron-down
	form.search-form
		input.search(type="search", placeholder=_("search for content, documents, appointments, ..."))
		input.search-submit(type="submit")
		i.fa.fa-search.search-icon
	.room-info-text
		.room-name
			h1
				if room.type === 'room'
					= room.name
				else if room.type === 'pm'
					| Chat with #{room.users[0].username}
			if room.type !== 'pm'
				.connected-users
					i.fa.fa-user(onclick="document.getElementById('make-me-dynamic-3').style.display='block';return false;")
					span.sml-nr
						| #{room.users.length}
					each user in room.users.slice(0,3)
						span.user(class=[user.id in room.typing ? 'typing' : ''], key=user.id, title=user.username)
							if user.status === 16
								span.online
							else
								span.offline
							img(src="#{user.avatar}",width="20",alt="#{user.username}")
					if room.users.length > 3
						- var moreusers = room.users.length - 3
						span.more
							| + #{moreusers} more
