div
	//-a(href='javascript:void(0)', class="feedback intercom", title=_("Support"))
	//-	i.fa.fa-bullhorn
	.user-menu-wrap(id='intro-step5')
		.avatar-wrap
			if true
				span.online
			else
				span.offline
			img(src="#{user.avatar}",width="36",alt="Avatar of #{user.username}")
				.avatar-status(class='online')
		span.user-name #{user.username}
		i.fa.fa-caret-down
	form.search-form
		input.search(type="search", name="search-input", placeholder=_("Search"))
		input.search-submit(type="submit")
		i.fa.fa-search.search-icon
		i.fa.fa-times.close(onclick="this.parentNode.parentNode.parentNode.parentNode.parentNode.className='client';")
	.room-info(id="intro-step4")
		if room.type === 'room'
			div
				h1.room-grp
					span.room-name= room.name
					.connected-users
						i.fa.fa-caret-down
		else if room.type === 'pm'
			h1
				span.room-name
					if room.users[0].is_only_invited
						i.fa.fa-envelope
						| 
					if (room.users[0].firstName || room.users[0].lastName)
						| #{room.users[0].firstName} #{room.users[0].lastName} 
					else
						| #{room.users[0].username}
