.history
	each lines in groupHistory(history)
		- var first = lines[0]
		.chatline(key=first.id)
			if first.author.username
				aside.author
					img.image(src="http://cdn3.photos.erdbeerlounge.de/images/avatars/user/a/m/o/amour/AICS/fs/46/46/ffffff/amour.jpg")
					div= first.author.username
			else
				aside.author
					img.image(src=first.author.image)
					div= first.author.name
			.content
				each line in lines
					time.time(datetime=line.time.toISOString())= strftime('%H:%M Uhr', line.time)
					if line.title
						.text= line.title
					.text= line.text

