div
	.user-menu-wrap
		.avatar-wrap
			if true
				span.online
			else
				span.offline
			img(src="#{user.avatar}",width="36",alt="Avatar of #{user.username}")
				.avatar-status(class='online')
		span.user-name #{user.username}
		i.fa.fa-chevron-down
	form.search-form
		input.search(type="search", name="search-input", placeholder=_("Search for content, documents, appointments, ..."))
		input.search-submit(type="submit")
		i.fa.fa-search.search-icon
		i.fa.fa-times.close(onclick="this.parentNode.parentNode.parentNode.parentNode.parentNode.className='client';")
	.room-info
		if room.type === 'room'
			div
				h1.room-grp
					span.room-name= room.name
					.connected-users
						i.fa.fa-user
						span.sml-nr
							| #{room.users.length}
		else if room.type === 'pm'
			h1
				span.room-name
					if !room.users[0].is_only_invited
						| @
					else
						i.fa.fa-envelope
						| 
					| #{room.users[0].username}
