.grape-input-wrapper
	.edit-message
		=_('Hit ')
		span=_('ESC')
		=_(' to cancel editing.')
	.hint-box
		=_('Mention your team with ')
		span=_('@')
		=_(' and autocomplete services with ')
		span=_('#')
	.input-highlighter
		grape-input(id='intro-step1').grape-input
		.input-helpers
			.input-emoji
				i.fa.fa-smile-o.js-emoji-browser-button
			.uploader
			.info-markdown.js-markdown-tips
				i.fa.fa-question
	.avatar
		img.image(src="#{user.avatar}",width="42",height="42",alt="#{user.username}")
