ul.organizations
	each org in organizations
		li=org.name
ul.users
	each user in users
		li(class="colors-" + user.num)=user.username
ul.rooms
	each room in rooms
		li=room.name

.connectline
	em(class="colors-" + user.num)= user.username
	|  connected to 
	em= rooms[0].name
	|  in 
	em=organizations[0].name
