nav.navigation
	a.nav-title-wrap
		div.nav-button.button-inset.addroom=_('add room')
		h2.nav-title.addroom=_('Rooms')
	ul.nav-list.rooms
	a.nav-title-wrap
		div.nav-button.button-inset.addpm=_('new message')
		h2.nav-title.addpm=_('Messages')
	ul.nav-list.pms
	a.nav-title-wrap.additem
		div.nav-button.button-inset=_('add label')
		h2.nav-title=_('Labels')
	ul.nav-list.labels
