nav.navigation
	.preloader.hide
		div
			h3
				=_('Loading')
	a.nav-title-wrap.addroom
		div.nav-button.button-inset=_('Add room')
		h2.nav-title=_('Rooms')
	ul.nav-list.rooms
	a.nav-title-wrap.addpm
		div.nav-button.button-inset=_('New message')
		h2.nav-title=_('Messages')
	ul.nav-list.pms
	a.nav-title-wrap.addlabel
		div.nav-button.button-inset=_('Add label')
		h2.nav-title=_('Labels')
	ul.nav-list.labels