ul.nav-list.pms
	each pm in items
		-var pmuser = pm.users[0]
		li.item(class=(pm === selected ? 'selected' : ''), data-id=pm.id, key=pm.id)
			// FIXME: needs real pm slug
			a(href="/chat/@" + user.username)
				.avatar-wrap
					// FIXME: use real avatar image
					if user.status === 16
						span.online
					else
						span.offline
					img(src="#{user.avatar}",width="20",alt="#{user.username}")
					.avatar-status(class=(pmuser.status === 16 ? 'online' : 'offline'))
				if pm.unread > 0
					span.unread=pm.unread.toString()
				span.name=pmuser.username

