ul.nav-list.pms
	if items.length > 0 
		each user in items
			- var userID = user.id
			- var unread = user.pm != undefined ? user.pm.unread : 0
			- var selectedClass = user.pm != undefined && user.pm == selected ? 'selected' : ""
			- var deletedClass = user.active ? "" : 'deleted'
			li.item(class=selectedClass, class=deletedClass, data-id=userID, key=userID)
				a(href="/chat/@" + user.username)
					.avatar-wrap
						if user.status === 16
							span.online
						else
							span.offline
						img(src="#{user.avatar}",width="20",alt="#{user.username}")
						.avatar-status(class=(user.status === 16 ? 'online' : 'offline'))
					if unread > 0
						span.notification=unread.toString()
					span.name
						if (user.firstName || user.lastName)
							| #{user.firstName} #{user.lastName} 
						else
							| #{user.username}
