ul.nav-list.pms
	if items.length > 0 
		each pm in items
			li.item(class=(pm === selected ? 'selected' : ''), data-id=pm.pm_id, key=pm.pm_id)
				a(href="/chat/@" + pm.username)
					.avatar-wrap
						if pm.status === 16
							span.online
						else
							span.offline
						img(src="#{pm.avatar}",width="20",alt="#{pm.username}")
						.avatar-status(class=(pm.status === 16 ? 'online' : 'offline'))
					if pm.unread > 0
						span.notification=pm.unread.toString()
					span.name=pm.username
	else
		li.item 
			span.no-messages=_("No private messages yet.")
