
h2
	span.nav-title=_('Rooms')
	button.addroom.nav-button.button-inset=_('add room')
ul.nav-list
	each room in rooms
		li.room(class=(room == selected ? 'selected' : ''), data-id=room.id)
			if room.private
				i.fa.fa-lock
			else
				i.fa.fa-comments
			span.name=room.name
			if room.unread > 0
				span.unread=room.unread
