
h2
	span=_('Rooms')
	button.addroom.inset=_('add room')
ul
	each room in rooms
		li.room(class=([room.joined ? 'joined' : '', room == selected ? 'selected' : '']), data-id=room.id)
			if room.private
				i.fa.fa-lock
			else
				i.fa.fa-comments
			span.name=room.name
			if room.unread
				span.unread=room.unread
