.roompopover
	h3
		=_('All chatrooms')
		span.close ×
	ul
	button.button.new
		=_('create new chatroom')
		i.icon.fa.fa-plus-circle
	form.newroom
		.formrow.mar-b10
			label.text(for="newroom-name")=_('Name')
			input(type="text", id="newroom-name")
		.formrow
			h4.visibility-headline=_('Visibility')
			.radio-wrapper.mar-b20
				label.radio-label
					input(type="radio", name="newroom-visibility", value="public", checked)
					=_('Public')
					span.radio-label-subline=_('All members can see and join this chatroom.')
				label.radio-label
					input(type="radio", name="newroom-visibility", value="private")
					=_('Private')
					span.radio-label-subline=_('This chatroom can only be seen and joined by members which you invite.')
		input.button(type="reset", value=_('Cancel'))
		input.button.create(type="submit", name="submit", value=_('Create'))