ul.nav-list.rooms
	each room in items
		if room.joined
			li.item(class=(room == selected ? 'selected' : ''), data-id=room.id, key=room.id)
				a(href="/chat/" + room.slug)
					.item-inner-wrp
						if room.is_public
							i.icon.fa.fa-comments
						else
							i.icon.fa.fa-lock
						if room.unread > 0
							span(class="fl-notification tt", title="unread messages")=room.unread.toString()
						if room.mentioned > 0
							span.fl-mention(title="mentioning you")=room.mentioned.toString()
						span.name=room.name
