.search-results
	.result-info
		.result-nr
			= results.total + _(' results for ')
			strong=results.q
	.result-filters
		.filter-room
			h2=_('Sort by')
			ul
				li
					a=_('Überall')
				li
					a=_('Design')
		.filter-list
			ul
				li
					strong
						a=_('Alle (51)')
				li
					i.fa.fa-envelope
					a=_('Nachrichten (14)')
				li
					i.fa.fa-file
					a=_('Dateien (10)')
				li
					i.fa.fa-github
					a=_('GitHub Issues (1)')
	ul.result-list
		each result in results.results
			li.result-object(class=result.index)
				.item-object.main
					.item-info 
						if !(result.index === 'objects')
							= result.author.username
							i.fa.fa-comment
							span= result.channel.name
						else
							h2
								i.fa.fa-github
								= result.container
					.item-content
						= html(markdown(result.highlighted))
						ul.item-footer
							if (result.index !== 'objects')
								li.time
									time(datetime=result.time.toISOString())= strftime('%e %B %Y %H:%M', result.time)
							else
								li.option
									a(href=result.url)= _("View")
