.search-results
	.result-info
		.result-nr
			= results.total + _(' results for ')
			strong=results.q
	ul.result-list
		each result in results.results
			li.result-object(class=(result.hasOwnProperty('service') ?  'objects' : 'messages'))
				if (result.hasOwnProperty('service'))
					a.direct-link(href="#{result.hasOwnProperty('service') ? result.url : '#'}")
				.item-object.main(class=(result.hasOwnProperty('service') ? result.service + result.type : ''))
					.item-type
						if (!result.hasOwnProperty('service'))
							| Message
						else
							| #{result.service} #{result.type}
					.item-content
						.item-text
							if (!result.hasOwnProperty('service'))
								strong= result.author.username
							else
								span(class=result.service + " entry-type-icon service-" + result.service + " type-" + result.service + result.type)
							= html(markdown(result.highlighted))
							if (result.hasOwnProperty('service'))
								span
									| 
									| #{result.container}
						if (!result.hasOwnProperty('service'))
							ul.item-footer
								li
									i.fa.fa-comment
									if result.channel.type === "room"
										span= result.channel.name
									else if result.channel.type === "pm"
										span
											each u in result.channel.users
												if u.id !== user.id
													= u.username
								li.time
									time(datetime=result.time.toISOString())= strftime('%e %B %Y %H:%M', result.time)
